---
import "@fontsource/ibm-plex-sans-jp/400.css";
import "@fontsource/ibm-plex-sans-jp/700.css";
// Montserratを追加
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/700.css";

import { ViewTransitions } from "astro:transitions";

interface Props {
    title: string;
    isFluid?: boolean;
}

const { title, isFluid = false } = Astro.props;
---

<!doctype html>
<html lang="ja" class="dark scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="獸酊音 Juu-Tei-On Event Hub" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | 獸酊音</title>
        <ViewTransitions />
    </head>
    <body
        class="bg-background text-text-main antialiased selection:bg-accent-blue selection:text-white"
    >
        {/* Ambient Light */}
        <div class="fixed inset-0 z-0 pointer-events-none opacity-50">
            <div
                class="absolute top-[-20%] left-[-10%] w-[500px] h-[500px] bg-accent-blue/5 rounded-full blur-[120px]"
            >
            </div>
            <div
                class="absolute bottom-[-20%] right-[-10%] w-[500px] h-[500px] bg-accent-red/5 rounded-full blur-[120px]"
            >
            </div>
        </div>

        <main
            class:list={[
                "relative z-10 min-h-screen scrollbar-hide",
                isFluid
                    ? "w-full"
                    : "w-full max-w-[480px] mx-auto bg-black/80 backdrop-blur-2xl border-x border-white/5 shadow-2xl",
            ]}
        >
            <slot />
        </main>
    </body>
</html>

<style is:global>
    ::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>
